{{#if isAuthenticated_error}}
  <h1>{{isAuthenticated_error}}</h1>  
{{/if}}
<h2 class="text-center text-success h3">Posts mas recientes:</h2>

<h1>{{this.posts.[posts.lenght].title}}</h1>

{{!-- {{posts.[(posts.lenght)].title}} --}}
<hr class="bg-light">
<div id="carouselExampleIndicators" class="carousel slide my-3  border border-success py-2" style="height: 350px;" data-ride="carousel">
    <ol class="carousel-indicators mt-5">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="d-flex justify-content-center">
                <div class="col-sm-6 col-lg-3 col-md-6 card text-light bg-dark mb-3 mx-1 border border-dark" style="max-height: 300px">
                <div class="card-header w-100 bg-success rounded text-dark text-center">- Post {{masRecientes.last.index}} -</div>
                <div class="card-body">
                    <h4 class="card-title">{{masRecientes.last.post.title}}</h4>
                    <p class="card-text">{{masRecientes.last.post.body}}</p>
                </div>
                {{#if masRecientes.last.post.fecha}}
                <small>{{masRecientes.last.post.fecha}}</small>
                {{/if}}
                <a href="/posts/{{masRecientes.last.post.slug}}" class="btn btn-light btn-sm my-2 text-weight-bold">Ver mas</a>
            </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex justify-content-center">
                <div class="col-sm-6 col-lg-3 col-md-6 card text-light bg-dark mb-3 mx-1 border border-dark">
                <div class="card-header w-100 bg-success rounded text-dark text-center">- Post {{masRecientes.last2.index}} -</div>
                <div class="card-body">
                    <h4 class="card-title">{{masRecientes.last2.post.title}}</h4>
                    <p class="card-text">{{masRecientes.last2.post.body}}</p>
                </div>
                {{#if masRecientes.last2.post.fecha}}
                <small>{{masRecientes.last2.post.fecha}}</small>
                {{/if}}
                <a href="/posts/{{masRecientes.last2.post.slug}}" class="btn btn-light btn-sm my-2 text-weight-bold">Ver mas</a>
                </div>
            </div>            
        </div>
        <div class="carousel-item">
            <div class="d-flex justify-content-center">
                <div class="col-sm-6 col-lg-3 col-md-6 card text-light bg-dark mb-3 mx-1 border border-dark">
                <div class="card-header w-100 bg-success rounded text-dark text-center">- Post {{masRecientes.last3.index}} -</div>
                <div class="card-body">
                    <h4 class="card-title">{{masRecientes.last2.post.title}}</h4>
                    <p class="card-text">{{masRecientes.last2.post.body}}</p>
                </div>
                {{#if masRecientes.last2.post.fecha}}
                <small>{{masRecientes.last2.post.fecha}}</small>
                {{/if}}
                <a href="/posts/{{masRecientes.last2.post.slug}}" class="btn btn-light btn-sm my-2 text-weight-bold">Ver mas</a>
            </div>
            </div>
            

        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<hr class="bg-light text-center">





{{#if homePagination}}

<h3 class="text-center">{{title}}</h3>
<div class="d-flex justify-content-center align-items-center">
    <a class="btn-light btn mx-4" href="/home">Ver Todos los posts:</a>
    <small class="text-success font-weight-bold">Total Posts: <label
            class="h4 mx-2 bg-secondary p-1 rounded">{{paginacion.maximo}}</label></small>
</div>

<hr class="bg-success">
<div class="d-flex justify-content-center mt-5">
    <ul class="pagination">
        <li {{#if (gte 0 paginacion.maximo)}}class="page-item disabled" {{else}} class="page-item" {{/if}}>
            <a class="page-link" href="/home/?skip=0&limit={{paginacion.valor}}">1</a>
        </li>
        <li {{#if (gte (multiply 1 paginacion.valor) paginacion.maximo)}}class="page-item disabled" {{else}}
            class="page-item active" {{/if}}>
            <a class="page-link"
                href="/home/?skip={{multiply 1 paginacion.valor}}&limit={{multiply 2 paginacion.valor}}">2</a>
        </li>
        <li {{#if (gte (multiply 2 paginacion.valor) paginacion.maximo)}}class="page-item disabled" {{else}}
            class="page-item" {{/if}}>
            <a class="page-link"
                href="/home/?skip={{multiply 2 paginacion.valor}}&limit={{multiply 3 paginacion.valor}}">3</a>
        </li>
        <li {{#if (gte (multiply 3 paginacion.valor) paginacion.maximo)}}class="page-item disabled" {{else}}
            class="page-item" {{/if}}>
            <a class="page-link"
                href="/home/?skip={{multiply 3 paginacion.valor}}&limit={{multiply 4 paginacion.valor}}">4</a>
        </li>
        <li {{#if (gte (multiply 4 paginacion.valor) paginacion.maximo)}}class="page-item disabled" {{else}}
            class="page-item" {{/if}}>
            <a class="page-link"
                href="/home/?skip={{multiply 4 paginacion.valor}}&limit={{multiply 5 paginacion.valor}}">5</a>
        </li>
        <li {{#if (gte (multiply 5 paginacion.valor) paginacion.maximo)}}class="page-item disabled" {{else}}
            class="page-item" {{/if}}>
            <a class="page-link"
                href="/home/?skip={{multiply 5 paginacion.valor}}&limit={{multiply 6 paginacion.valor}}">6</a>
        </li>
        <li {{#if (gte (multiply 6 paginacion.valor) paginacion.maximo)}}class="page-item disabled" {{else}}
            class="page-item" {{/if}}>
            <a class="page-link"
                href="/home/?skip={{multiply 6 paginacion.valor}}&limit={{multiply 7 paginacion.valor}}">7</a>
        </li>
        <li {{#if (gte (multiply 7 paginacion.valor) paginacion.maximo)}}class="page-item disabled" {{else}}
            class="page-item" {{/if}}>
            <a class="page-link"
                href="/home/?skip={{multiply 7 paginacion.valor}}&limit={{multiply 8 paginacion.valor}}">8</a>
        </li>
        <li {{#if (gte (multiply 8 paginacion.valor) paginacion.maximo)}}class="page-item disabled" {{else}}
            class="page-item" {{/if}}>
            <a class="page-link"
                href="/home/?skip={{multiply 8 paginacion.valor}}&limit={{multiply 9 paginacion.valor}}">9</a>
        </li>
        <li {{#if (gte (multiply 9 paginacion.valor) paginacion.maximo)}}class="page-item disabled" {{else}}
            class="page-item" {{/if}}>
            <a class="page-link"
                href="/home/?skip={{multiply 9 paginacion.valor}}&limit={{multiply 10 paginacion.valor}}">10</a>
        </li>
    </ul>
</div>
<div class="row justify-content-center mx-auto bg-secondary p-4 border border-success rounded">
    {{#each posts}}
    <div class="col-sm-6 col-lg-3 col-md-6 card text-white bg-success my-3 mx-1 border border-dark">

        <div class="card-header w-100 bg-dark rounded text-center">- Post -</div>
        <div class="card-body">
            <h4 class="card-title">{{this.title}}</h4>
            <p class="card-text">{{this.body}}</p>
        </div>
        {{#if this.fecha}}
        <small>{{this.fecha}}</small>
        {{/if}}
        <a href="/posts/{{this.slug}}" class="btn btn-dark my-2 font-weight-bold">Ver mas</a>
        {{!-- <div class="" style="max-width: 20rem;"></div>
    </div> --}}
</div>
{{/each}}
</div>

<div class="d-flex justify-content-center mt-3">
    <ul class="pagination">
        <li {{#if (gte 0 paginacion.maximo)}}class="page-item disabled" {{else}} class="page-item" {{/if}}>
            <a class="page-link" href="/home/?skip=0&limit={{paginacion.valor}}">1</a>
        </li>
        <li {{#if (gte (multiply 1 paginacion.valor) paginacion.maximo)}}class="page-item disabled" {{else}}
            class="page-item" {{/if}}>
            <a class="page-link"
                href="/home/?skip={{multiply 1 paginacion.valor}}&limit={{multiply 2 paginacion.valor}}">2</a>
        </li>
        <li {{#if (gte (multiply 2 paginacion.valor) paginacion.maximo)}}class="page-item disabled" {{else}}
            class="page-item" {{/if}}>
            <a class="page-link"
                href="/home/?skip={{multiply 2 paginacion.valor}}&limit={{multiply 3 paginacion.valor}}">3</a>
        </li>
        <li {{#if (gte (multiply 3 paginacion.valor) paginacion.maximo)}}class="page-item disabled" {{else}}
            class="page-item" {{/if}}>
            <a class="page-link"
                href="/home/?skip={{multiply 3 paginacion.valor}}&limit={{multiply 4 paginacion.valor}}">4</a>
        </li>
        <li {{#if (gte (multiply 4 paginacion.valor) paginacion.maximo)}}class="page-item disabled" {{else}}
            class="page-item" {{/if}}>
            <a class="page-link"
                href="/home/?skip={{multiply 4 paginacion.valor}}&limit={{multiply 5 paginacion.valor}}">5</a>
        </li>
        <li {{#if (gte (multiply 5 paginacion.valor) paginacion.maximo)}}class="page-item disabled" {{else}}
            class="page-item" {{/if}}>
            <a class="page-link"
                href="/home/?skip={{multiply 5 paginacion.valor}}&limit={{multiply 6 paginacion.valor}}">6</a>
        </li>
        <li {{#if (gte (multiply 6 paginacion.valor) paginacion.maximo)}}class="page-item disabled" {{else}}
            class="page-item" {{/if}}>
            <a class="page-link"
                href="/home/?skip={{multiply 6 paginacion.valor}}&limit={{multiply 7 paginacion.valor}}">7</a>
        </li>
        <li {{#if (gte (multiply 7 paginacion.valor) paginacion.maximo)}}class="page-item disabled" {{else}}
            class="page-item" {{/if}}>
            <a class="page-link"
                href="/home/?skip={{multiply 7 paginacion.valor}}&limit={{multiply 8 paginacion.valor}}">8</a>
        </li>
        <li {{#if (gte (multiply 8 paginacion.valor) paginacion.maximo)}}class="page-item disabled" {{else}}
            class="page-item" {{/if}}>
            <a class="page-link"
                href="/home/?skip={{multiply 8 paginacion.valor}}&limit={{multiply 9 paginacion.valor}}">9</a>
        </li>
        <li {{#if (gte (multiply 9 paginacion.valor) paginacion.maximo)}}class="page-item disabled" {{else}}
            class="page-item" {{/if}}>
            <a class="page-link"
                href="/home/?skip={{multiply 9 paginacion.valor}}&limit={{multiply 10 paginacion.valor}}">10</a>
        </li>
    </ul>
</div>
{{else}}

<h2 class="text-center text-success my-2">{{title}} - Total de Posts</h2>
<div class="d-flex justify-content-center align-items-center">
    <a class="btn-success btn mx-4" href="/home/?skip=0&&limit=6">Paginacion Posts</a>
</div>

<div class="row justify-content-center mx-auto bg-secondary p-4 border border-success rounded mt-3">
    {{#each posts}}
    <div class="col-sm-6 col-lg-3 col-md-6 card text-dark bg-success mb-3 mx-1 border border-dark">

        <div class="card-header w-100 bg-dark rounded text-white text-center">- Post - {{add @index 1}}</div>
        <div class="card-body">
            <h4 class="card-title">{{this.title}}</h4>
            <p class="card-text">{{this.body}}</p>
        </div>
        {{#if this.fecha}}
        <small>{{this.fecha}}</small>
        {{/if}}
        <a href="/posts/{{this.slug}}" class="btn btn-light my-2 font-weight-bold border border-dark rounded">Ver mas</a>
        {{!-- <div class="" style="max-width: 20rem;"></div>
    </div> --}}
</div>
{{/each}}
</div>
{{/if}}