<div class="d-flex justify-content-center bg-sec-opacity py-3 rounded border border-light flex-wrap">
    <h2 class="text-center text-success my-2 w-100">{{title}} : {{users.length}}</h2>
</div>

<hr class="bg-light text-center">
<div class="bg-sec-opacity">
    <a href="/users/?alphabet=true" {{#if (eq ordenActual "alphabet")}}class="btn btn-outline-success"{{else}}class="btn btn-success"{{/if}}>Ordenar por alfabeto</a>
    <a href="/users/?dateOld=true" {{#if (eq ordenActual "dateOld")}}class="btn btn-outline-success"{{else}}class="btn btn-success"{{/if}}>Ordenar por antiguedad</a>
    <a href="/users/?dateRecent=true" {{#if (eq ordenActual "dateRecent")}}class="btn btn-outline-success"{{else}}class="btn btn-success"{{/if}}>Ordenar por recientes</a>
</div>

<div class="row justify-content-center mx-auto p-4 border border-dark rounded mt-3 bg-sec-opacity shadow-box">
    {{#each users}}
        <div class="col-sm-6 col-lg-3 col-md-6 card text-dark bg-success mb-3 mx-1 border border-dark" style="max-height: 300px;">

            <div class="card-header rounded text-center bg-secondary"><a href="" class="nav-link bg-link rounded text-dark px-2">{{this.name}}</a></div>
            <div class="card-body">
                <h4 class="card-title"></h4>
                <p class="card-text">Fecha de creacion: {{this.createdAt}}</p>
                <a href="/posts/{{this.last.slug}}" class="btn btn-light my-2 font-weight-bold border border-dark rounded">Ver ultimo post</a>
            </div>
        </div>
    {{/each}}
</div>
<div class="d-flex justify-content-end mt-4">
    <a class="nav-link bg-link rounded text-dark px-2 my-2" href="#top">Back to top</a>
</div>