{{#if (and errorBody errorTitle)}}
    {{>alert value='Por favor ingrese un titulo y texto para el post' value2="creacion de post."}}
{{else}}
    {{#if errorTitle}}
        {{>alert value='Por favor ingrese un titulo para el post' value2="creacion de post."}}
    {{/if}}
    {{#if errorBody}}
        {{>alert value='Por favor ingrese un texto para el post' value2="creacion de post."}}
    {{/if}}
{{/if}}
{{#if errorDuplicado}}
    {{>alert value='El titulo del post ya existe, ingrese otro.' value2="creacion de post."}}
{{/if}}
<div style="min-height: 736px;">
<div class="bg-sec-opacity py-3 rounded border border-light p-2 mt-2 rounded container">
    <h2 class="m-4">Crear nuevo Post</h2>
    
    <form action="/posts" method="POST" enctype="multipart/form-data">
        <label for="imageInput">Imagen del post: <small class="text-warning">(Opcional)</small> </label>
        <input type="file" id="imageInput" name="postImage" />
        <small class="text-muted user-select-none"> <small class="text-danger font-weight-bold">*</small> Si no subes ninguna se generara una aleatoria(1-12) de una imagen de un , el <label class="text-warning user-select-none">postcard</label>.</small>
        <label for="emoji">Emoji del post: <small class="text-warning">(Opcional)</small> </label>
        {{!-- <div id="emoji" class="w-25"> --}}
        <textarea type="text" id="emoji" name="emoji" class="w-25">{{valorEmoji}}</textarea>
        <div {{#if errorTitle}} class="form-group has-danger" {{else}} class="form-group" {{/if}}>
            <label for="title">Título <small class="text-muted mx-1"><small class="text-danger font-weight-bold">*</small> Campo obligatorio.</small></label>
            <input type="text" 
            {{#if errorTitle}} class="form-control is-invalid" {{else}} class="form-control " {{/if}} id="title" name="title" placeholder="Ingrese el título del post" 
            value="{{valorTitle}}">
            {{#if errorTitle}}
                <div class="invalid-feedback">Este campo es obligatorio, por favor ingrese un titulo.</div>
            {{/if}}
        </div>
        
        <label for="body">Ingrese el cuerpo del post: <small class="text-muted mx-1"><small class="text-danger font-weight-bold">*</small> Campo obligatorio.</small> </label>
        <textarea {{#if errorBody}} class="form-control is-invalid"{{else}} class="form-control" {{/if}}
        id="textarea" name="body" rows="3" placeholder="Ingrese su descripcion" aria-valuemax="400"> {{valorBody}} </textarea>
        {{#if errorBody}}
            <div class="invalid-feedback">Este campo es obligatorio, por favor ingrese el contenido del post.</div>
        {{/if}}
        <div class="form-group form-check row mt-2">
            <div class="col">
                <input type="checkbox" class="form-check-input" id="guardarFecha" name="guardarFecha">
                <label class="form-check-label user-select-none" for="guardarFecha">Guardar fecha de creacion. <small class="text-warning">(Opcional)</small></label>
            </div>
            <div class="col">
                <input type="checkbox" class="form-check-input" id="guardarUser" name="guardarUser">
                <label class="form-check-label user-select-none" for="guardarUser">Guardar nombre de usuario. <small class="text-warning">(Opcional)</small></label>
            </div>
                <small id="userHelp" class="text-muted user-select-none"> <small class="text-danger font-weight-bold">*</small> Si no guardas tu nombre, el <label class="text-warning user-select-none">post</label> podr'a ser <label class="text-warning"> editado/borrado</label> por cualquier usuario registrado.</small>
        </div>            

        <button type="submit" id="btnCrearPost" class="btn btn-warning mt-3">Submit</button>
        <a href="/posts/?skip=0&limit=5" type="reset" id="btnCancelCrear" class="btn btn-light mx-3 mt-3">Cancelar</a>
    </form>
</div>
</div>